/* ---------- Main/Misc ---------- */
:root {
	--primary-color: #ddd;
	--primary-color-hover: #fff;
	--text-color: #eee;
	--text-color-dark: #111;
	--background-color: #2E3136;
	--background-mid-accent-color: #282b30;
	--background-accent-color: #26282C;
	--button-background-color: #393C42;
	--button-background-hover-color: #41434b;
	--tippy-background-color: hsla(228, 8%, 12%, 0.975);

	--place-gold: #f5b946;
	--place-silver: #C0C0C0;
	--place-bronze: #CD7F32;
}

::-webkit-scrollbar {
	width: 14px;
}
::-webkit-scrollbar-track {
	background-color: var(--background-mid-accent-color);
}
::-webkit-scrollbar-thumb {
	width: 5px;
	background-color: var(--primary-color);
	border: 2px solid var(--background-mid-accent-color);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-color-hover);
}

html {
	background-color: var(--background-mid-accent-color);
	color: var(--text-color);
}
body {
	background-color: var(--background-accent-color);
	
	font-family: 'Open Sans';
	font-size: 0.95em;
}
a:not(.player-link) {
	color: var(--primary-color);
}

a:hover {
	color: var(--primary-color-hover);
	text-decoration: underline solid 2px;
}

/* ---------- Button ---------- */

.button.is-dark {
	background-color: var(--button-background-color);
	border: 1px solid var(--button-background-color) !important;
}
.button.is-dark.is-selected {
	background-color: var(--primary-color);
	color: var(--text-color-dark);
}
.button.is-dark.is-selected:hover, .button.is-dark.is-selected:focus {
	background-color: var(--primary-color-hover);
}
.button.is-dark:hover, .button.is-dark:focus {
	background-color: var(--button-background-hover-color);
	text-decoration: none;
}
.button.is-dark > .icon {
	color: var(--primary-color);
}
.button.is-dark:hover > .icon {
	color: var(--primary-color-hover);
	text-decoration: none;
}
a.button {
	padding: .5em;
}
a.button:not(:last-child) {
	margin-bottom: 0.5em;
}
.button > .icon.has-text {
	margin-left: 0!important;
	margin-right: .25em!important;
}

.button-outer {
	margin-left: .25rem;
	margin-right: .25rem;
}
.button-outer > .button {
	margin: 0!important;
}
.button-outer:hover {
	text-decoration: none;
}
.button.is-small.is-variable {
	padding: .75em;
}

/* ---------- Tabs ---------- */

.tabs > ul {
	border-bottom: 2px solid var(--primary-color) !important;
}

.tabs.is-boxed {
	color: var(--text-color);
	text-decoration: none;
	margin-bottom: calc(1.25rem - 2px);
	border-radius: 4px 4px 0 0;
}
.tabs.is-boxed::-webkit-scrollbar {
	height: 8px;
}
.tabs.is-boxed::-webkit-scrollbar-track {
	background-color: var(--background-mid-accent-color);
}
.tabs.is-boxed::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border: 0;
	border-radius: 0;
}
.tabs.is-boxed::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-color-hover);
}

.tabs.is-boxed a, .tabs.is-boxed a:hover, .tabs.is-boxed a:focus {
	border-left: 0px !important;
	border-right: 0px !important;
	border-top: 0px !important;
	border-bottom-color: var(--primary-color);
}
.tabs li a {
	text-decoration: none;
	font-weight: bold;

	background-color: var(--button-background-color) !important;
	font-size: 0.91em;
}
.tabs li a:hover, .tabs li a:focus {
	color: var(--text-color);
	background-color: var(--button-background-hover-color) !important;
}

.tabs li.is-active a {
	color: var(--text-color-dark);
	background-color: var(--primary-color) !important;
}
.tabs li.is-active a:hover, .tabs li.is-active a:focus {
	background-color: var(--primary-color-hover) !important;
}


/* ---------- Variables ---------- */

#variables {
	display: flex;
	margin-bottom: 1rem;
}
#variables:empty {
	margin-bottom: 0;
}
#variables > .buttons, .is-variable {
	margin-bottom: 0;
	font-weight: bold;
	margin-bottom: 0;
}
#variables > .buttons > .button {
	margin-bottom: 0;
}
#variables > .buttons > .button:first-child {
	border-radius: 4px 0 0 4px;
}
#variables > .buttons > .button:last-child {
	border-radius: 0 4px 4px 0;
}
#variables > .buttons > .button:only-child {
	border-radius: 4px;
}
#variables > .buttons:not(:last-child) {
	margin-right: 1.25rem;
}
.is-variable.is-active, .is-variable.is-active:focus {
	background-color: var(--primary-color) !important;
	color: var(--text-color-dark) !important;
}
.is-variable.is-active:hover {
	background-color: var(--primary-color-hover) !important;
}
.is-variable > i {
	margin-right: 0.5em;
}
.variable-right {
	margin-left: auto;

}

.box, .tabs a, .tabs li:hover {
	color: #eee;
}

/* ---------- Table ---------- */

.table {
	color: var(--text-color);
	background-color: var(--background-color);
}
.table.is-narrow {
	font-size: 0.95em;
}
.table.is-narrow td, .table.is-narrow th {
	padding: .25em;
}
.table.is-fullwidth {
	width: calc(100% + 2.5rem) !important;
	margin-left: -1.25rem;
}
.table thead th {
	color: var(--text-color);
	border-bottom: none;
	text-align: center !important;
}
.table td {
	border-bottom: 1px var(--background-accent-color);
	text-align: center !important;
}

.table td.is-table-icons {
	text-align: right !important;
	padding-right: 1.25em;
}
.is-table-icons > i:not(:last-child) {
	margin-right: 0.45em;
}

.table tbody tr {
	cursor: pointer;
}
.table tbody tr:nth-child(odd) {
	background-color: var(--background-mid-accent-color);
}
.table tbody:not(#run-single-segments) tr:hover {
	background-color: var(--button-background-color);
}

@media only screen and (max-width: 768px) {
	.table.is-fullwidth {
		font-size: 0.9em !important;
		width: calc(100% + 1.5rem) !important;
		margin-left: -0.75rem !important;
	}
}

/* ---------- Game Info ---------- */

.game-info-container {
	text-align: center;
}
.game-image-container {
	height: 10rem;
	min-height: 10rem;
	margin-bottom: 1.2rem;
}
#game-image {
	max-height: 10rem;
	min-height: 10rem;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	
	border-radius: 6px;
}
#game-year, #game-platforms, #game-moderators {
	color: #bbb;
}
#game-platforms, #game-moderators {
	margin-bottom: 1.25rem;
}

.game-info-container > .buttons:last-child {
	margin-bottom: 0;
}
.game-info-container > .buttons {
	margin: 0 auto;
}
#game-moderators {
	font-size: 0.8em;
}
#game-moderators a {
	display: inline-block;
}
#game-moderators a:hover span {
	text-decoration: underline solid 1px;
}

/* ---------- Tippy ---------- */

.tippy-box[data-theme~='vrsr'], .tippy-box[data-theme~='vrsr-arrow'] {
	background-color: var(--tippy-background-color);
	color: var(--text-color);
}
.tippy-box[data-theme~='vrsr'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: transparent;
}
	.tippy-box[data-theme~='vrsr'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: transparent;
}
	.tippy-box[data-theme~='vrsr'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: transparent;
}
	.tippy-box[data-theme~='vrsr'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: transparent;
}

.tippy-box[data-theme~='vrsr-arrow'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--tippy-background-color);
}
	.tippy-box[data-theme~='vrsr-arrow'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--tippy-background-color);
}
	.tippy-box[data-theme~='vrsr-arrow'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--tippy-background-color);
}
	.tippy-box[data-theme~='vrsr-arrow'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--tippy-background-color);
}

/* ---------- Single Run Info ---------- */


.run-single-info-col:not(:last-child) {
	margin-bottom: 0;
}
.run-single-titles h1 {
	font-size: 1.5em;
}
.run-single-titles h2 {
	font-size: 1.25em;
}

#run-single-comment {
	font-style: italic;
	margin-bottom: 1em;
}
#run-single-comment:empty {
	margin-bottom: 0;
}
.run-single-info-other > p:not(:empty) {
	margin-top: 0.5em;
	text-align: center;
}

.buttons.is-right-mobile > a {
	margin-bottom: 0.75em;
}

@media only screen and (max-width: 768px) {
	.run-single-titles h1 {
		font-size: 1.25em;
	}
	.run-single-titles h2 {
		font-size: 1.15em;
	}
}

/* ---------- Splits ---------- */

#run-single-splits-middleinfo > i {
    padding-top: 8px;
}
#run-single-splits-middleinfo > i:not(:last-child) {
	margin-right: 0.5em;
}

#run-single-splits-bar-outer {
	width: calc(100% + 2.5rem) !important;
	margin-left: -1.25rem;

	margin-bottom: 1.25rem;
	height: 4em;
}
@media only screen and (max-width: 768px) {
	#run-single-splits-bar-outer {
		width: calc(100% + 1.5rem) !important;
		margin-left: -0.75rem !important;
		
		overflow-x: scroll !important;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;

		margin-bottom: 1.25rem;
		height: 4em;
	}
	#run-single-splits-bar {
		width: calc(300% + 1.5rem) !important;
	}
	#run-single-splits-bar-outer::-webkit-scrollbar {
		height: 0px;
	}
}
#run-single-splits-bar > div {
	overflow: hidden;
	height: 100%;
	display: inline-block;
	white-space: nowrap;
}
#run-single-splits-bar > div > div {
	cursor: default;
	padding: 0.5em;
	padding-right: 0;
}
.sp-name-num {
	color: rgba(238, 238, 238, 0.8);
	font-weight: normal;
}
.sp-time {
	font-family: Inconsolata;
	color: rgba(238, 238, 238, 0.6);
}
.sp-timesave {
	color: #a3e6a6;
	font-size: 0.9em;
}

.table tbody#run-single-segments td {
	vertical-align: middle;
}

.table tbody#run-single-segments tr {
	cursor: default;
	font-size: 0.95em;
}
.sp-heading {
	font-weight: bold;
	font-size: 1.1rem !important;
}
@media only screen and (max-width: 768px) {
	.sp-heading {
		font-size: 0.925rem !important;
	}
	.table tbody#run-single-segments tr {
		cursor: default;
		font-size: 0.9em;
	}
}

/* ---------- Misc ---------- */

#about-info > h1 {
	font-size: 1.2em;
	margin-bottom: 0.75em;
	font-weight: bold;
}
#about-info-toggle {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
#about-info-toggle:hover {
	text-decoration: none;
}
#about-info-more {
	margin-top: 1em;
}
#about-info > p:not(:last-child), #about-info > div > p:not(:last-child) {
	margin-bottom: 1em;
}

.divider {
	width: calc(100% + 2.5rem);
	margin-left: -1.25rem;
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 2px solid var(--primary-color);
}
@media only screen and (max-width: 768px) {
	.divider {
		width: calc(100% + 1.5rem);
		margin-left: -0.75rem;
	}
}

.select, .select > select {
	margin-bottom: 1.25rem;
	width: 100%;
	background-color: var(--background-color);
	border-color: var(--primary-color);
	color: var(--text-color);
}
.select:after {
	border-color: var(--primary-color) !important;
}
.select select:hover, .select select:focus, .select:hover:after, .select:focus:after {
	
	border-color: var(--primary-color-hover) !important;
	box-shadow: none;
}

.title {
	color: #eee;
	font-weight: bold;
	letter-spacing: -1px;
}

.section.is-footer {
	background-color: var(--background-mid-accent-color);
	width: 100%;
	text-align: center;
	color: #eee;
}
.is-footer > p {
	margin-bottom: 1em;
}
.is-heart {
	color: #f14668;
}

.is-footer p {
	color: #bbb;
}
.links > div > a > i {
	margin-right: 0.25em;
}

#level-select-cols, #level-select-cols > div > .select  {
	margin-bottom: 0;
}

.box {
	background-color: var(--background-color);
	border-radius: 4px;
}

.runs-flag {
	margin-right: 0.25em;
	max-height: 15px;
	vertical-align: middle;
	padding-top: 3px;
	margin-bottom: 3px;
	border-radius: 2px;
}
.runs-flag.small {
	max-height: 14px;
	padding-top: 3px;
}
.runs-usericon {
	max-height: 15px;
	vertical-align: middle;
	margin-right: 2px;
	margin-bottom: 3px;
}
.runs-usericon.small {
	max-height: 12px;
	padding-top: 1x;
}
.player-link {
	font-weight: bold;
}
.player-link:hover {
	text-decoration: none;
}
.player-link:hover > span {
	text-decoration: underline solid 2px;
}

@media only screen and (max-width: 768px) {
	.column {
		padding: 0.75rem 0;
	}
	.box > .container > .columns > .column {
		padding: 0.75rem !important;
	}
    .section {
		padding: 1.5rem 1rem;
	}
	.box {
		padding: 0.75rem;
	}
}

.back-button {
	margin-bottom: 1.25rem;
	font-weight: bold;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
.back-button a:hover {
	text-decoration: none;
	color: var(--primary-color-hover);
}

.place-1st, .new-pb {
	color: var(--place-gold);
}
.place-2nd {
	color: var(--place-silver);
}
.place-3rd {
	color: var(--place-bronze);
}

/* ----------------------------------------- */
/* source: https://tobiasahlin.com/spinkit/  */

.loadingdiv .spinner {
	width: 40px;
	height: 40px;
	background-color: #777;
  
	margin: 100px auto;
	-webkit-animation: sk-rotateplane 0.8s infinite ease-in-out;
	animation: sk-rotateplane 0.8s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	}
	50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

/* added by me */
.loadingdiv .belowspinner {
	color: #777;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	margin-top: -5rem;
}

.loadingdiv {
	display: flex;
	align-items: center;
	padding-bottom: 5rem;
}

/* ---------- ---------- */