/* ---------- Main/Misc ---------- */
:root {
	--primary-color: #FF9C00;
	--primary-color-hover: #FFBB4D;
	--text-color: #eee;
	--text-color-dark: #111;
	--text-color-light: #bbb;
	
	--background-color: #2E3136;
	--background-mid-accent-color: #282b30;
	--background-accent-color: #26282c;
	--button-background-color: #393C42;
	--button-background-hover-color: #41434b;
	--tippy-background-color: hsla(228, 8%, 12%, 0.975);
	--background-color-transparent: hsla(218, 8%, 20%, 0.85);
	--background-card: hsl(220, 7%, 12%);

	--background-table-odd: hsl(217, 8%, 16%);
	--background-table-even: hsl(217, 8%, 18%);

	--place-gold: #f5b946;
	--place-silver: #C0C0C0;
	--place-bronze: #CD7F32;
}

::-webkit-scrollbar {
	width: 14px;
}
::-webkit-scrollbar-track {
	background-color: var(--background-mid-accent-color);
}
::-webkit-scrollbar-thumb {
	width: 5px;
	background-color: var(--primary-color);
	border: 2px solid var(--background-mid-accent-color);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-color-hover);
}

html {
	background-color: var(--background-mid-accent-color);
	color: var(--text-color);
	overflow-x: hidden;
	overflow-y: auto;
}
body {
	background-color: var(--background-accent-color);
	
	font-family: 'Open Sans';
	font-size: 0.95em;
}
a:not(.player-link) {
	color: var(--primary-color);
}

a:hover {
	color: var(--primary-color-hover);
	text-decoration: underline solid 1px;
}
a.thick-underline:hover {
	text-decoration: underline solid 2px;
}

/* ---------- Button ---------- */

.button.is-dark {
	background-color: var(--button-background-color);
	border: 1px solid var(--button-background-color) !important;
}
.button.is-dark.is-selected {
	background-color: var(--primary-color);
	color: var(--text-color-dark);
}
.button.is-dark.is-selected:hover, .button.is-dark.is-selected:focus {
	background-color: var(--primary-color-hover);
}
.button.is-dark:hover, .button.is-dark:focus {
	background-color: var(--button-background-hover-color);
	text-decoration: none;
}
.button.is-dark > .icon {
	color: var(--primary-color);
}
.button.is-dark:hover > .icon {
	color: var(--primary-color-hover);
	text-decoration: none;
}
a.button {
	padding: .5em;
}
a.button:not(:last-child) {
	margin-bottom: 0.5em;
}
.button > .icon.has-text {
	margin-left: 0!important;
	margin-right: .25em!important;
}

.button-outer {
	margin: .25rem;
}
.button-outer > .button {
	margin: 0!important;
}
.button-outer:hover {
	text-decoration: none;
}
.button.is-small.is-variable {
	padding: .75em;
}

/* ---------- Tabs ---------- */

.tabs > ul {
	border-bottom: 2px solid var(--primary-color) !important;
}

#tabs {
	border-radius: 4px 4px 0 0;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}
.tabs.is-boxed {
	color: var(--text-color);
	text-decoration: none;
	margin-bottom: calc(1.25rem - 2px);
	position: relative;
	overflow: visible;
}
#tabs::-webkit-scrollbar {
	height: 8px;
}
#tabs::-webkit-scrollbar-track {
	background-color: var(--background-mid-accent-color);
}
#tabs::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border: 0;
	border-radius: 0;
}
#tabs::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-color-hover);
}

.tabs.is-boxed a, .tabs.is-boxed a:hover, .tabs.is-boxed a:focus {
	border-left: 0px !important;
	border-right: 0px !important;
	border-top: 0px !important;
	border-bottom: 0px;
}
.tabs li a {
	text-decoration: none;
	font-weight: bold;

	background-color: var(--button-background-color) !important;
	font-size: 0.91em;
}
.tabs li a:hover, .tabs li a:focus {
	color: var(--text-color);
	background-color: var(--button-background-hover-color) !important;
}

.tabs li.is-active a {
	color: var(--text-color-dark);
	background-color: var(--primary-color) !important;
}
.tabs li.is-active a:hover, .tabs li.is-active a:focus {
	background-color: var(--primary-color-hover) !important;
}

#misc-cats-container {
	position: absolute;
	background-color: var(--button-background-color);
	/*transform: translate(calc(-100% + 4em + 2px), 2px);*/
	transform: translate(calc(-100%), 2px);
	border-radius: 0 0 4px 4px;
	overflow: hidden;
	z-index: 4;
}
#misc-cats-container li a {
	border-radius: 0;
}
#misc-cats-container:not(.is-active) {
	display: none;
}
#category-misc a i {
	margin-left: 0.5em;
	font-size: 0.8em;
}

/* ---------- Variables ---------- */

#variables {
	display: flex;
}
#variables > .buttons, .is-variable {
	margin-bottom: 0;
	font-weight: bold;
	margin-bottom: 1rem;
}
#variables > .buttons > .button {
	margin-bottom: 0;
}
#variables > .buttons > .button:first-child {
	border-radius: 4px 0 0 4px;
}
#variables > .buttons > .button:last-child {
	border-radius: 0 4px 4px 0;
}
#variables > .buttons > .button:only-child {
	border-radius: 4px;
}
#variables > .buttons:not(:last-child) {
	margin-right: 1.25rem;
}
.is-variable.is-active, .is-variable.is-active:focus {
	background-color: var(--primary-color) !important;
	color: var(--text-color-dark) !important;
}
.is-variable.is-active:hover {
	background-color: var(--primary-color-hover) !important;
}
.is-variable > i {
	margin-right: 0.5em;
}
.variable-right {
	margin-left: auto;

}

.box, .tabs a, .tabs li:hover {
	color: #eee;
}

/* ---------- Table ---------- */

.table {
	color: var(--text-color);
	background-color: var(--background-color);
}
.table.is-narrow {
	font-size: 0.95em;
}
.table.is-narrow td, .table.is-narrow th {
	padding: .25em;
}
.table.is-fullwidth {
	width: calc(100% + 2.5rem) !important;
	margin-left: -1.25rem;
}
.table thead th {
	color: var(--text-color);
	border-bottom: none;
	text-align: center !important;
}
.table td {
	border-bottom: 1px var(--background-accent-color);
	text-align: center !important;
}

.table td.is-table-icons {
	text-align: right !important;
	padding-right: 1.25em;
}
.is-table-icons > i:not(:last-child) {
	margin-right: 0.45em;
}

.table tbody tr {
	cursor: pointer;
}
.table tbody tr:nth-child(odd) {
	background-color: var(--background-table-odd);
}
.table tbody tr:nth-child(even) {
	background-color: var(--background-table-even);
}
.table tbody:not(#run-single-segments) tr:hover {
	background-color: var(--button-background-color);
}

@media only screen and (max-width: 768px) {
	.table.is-fullwidth {
		font-size: 0.9em !important;
		width: calc(100% + 1.5rem) !important;
		margin-left: -0.75rem !important;
	}
}

/* ---------- Game Info ---------- */

.game-info-container {
	text-align: center;
}
.game-image-container {
	height: 10rem;
	min-height: 10rem;
	margin-bottom: 1.2rem;
}
#game-image {
	max-height: 10rem;
	min-height: 10rem;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	
	border-radius: 6px;
}
#game-year, #game-platforms, #game-moderators {
	color: var(--text-color-light);
	font-size: 0.9em;
}
#game-platforms, #game-moderators {
	margin-bottom: 1.25rem;
}

.game-info-container > .buttons:last-child {
	margin-bottom: 0;
}
.game-info-container > .buttons {
	margin: 0 auto;
}
#game-moderators {
	font-size: 0.8em;
}
#game-moderators span {
	display: inline-block;
}

/* ---------- Tippy ---------- */

.tippy-box[data-theme~='vrsr'], .tippy-box[data-theme~='vrsr-arrow'], .tippy-box[data-theme~='clear'] {
	background-color: var(--tippy-background-color);
	color: var(--text-color);
}
.tippy-box[data-theme~='clear'] {
	background-color: transparent;
}
.tippy-box[data-theme~='vrsr'][data-placement^='top'] > .tippy-arrow::before, .tippy-box[data-theme~='clear'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: transparent;
}
.tippy-box[data-theme~='vrsr'][data-placement^='bottom'] > .tippy-arrow::before, .tippy-box[data-theme~='clear'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: transparent;
}
.tippy-box[data-theme~='vrsr'][data-placement^='left'] > .tippy-arrow::before, .tippy-box[data-theme~='clear'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: transparent;
}
.tippy-box[data-theme~='vrsr'][data-placement^='right'] > .tippy-arrow::before, .tippy-box[data-theme~='clear'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: transparent;
}

.tippy-box[data-theme~='vrsr-arrow'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--tippy-background-color);
}
.tippy-box[data-theme~='vrsr-arrow'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--tippy-background-color);
}
.tippy-box[data-theme~='vrsr-arrow'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--tippy-background-color);
}
.tippy-box[data-theme~='vrsr-arrow'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--tippy-background-color);
}

/* ---------- Single Run Info ---------- */

#box-single-run {
	position: relative;
}

.run-single-info-col:not(:last-child) {
	margin-bottom: 0;
}
.run-single-titles {
	margin-bottom: 1.1em;
}
.run-single-titles h1 {
	font-size: 1.5em;
}
.run-single-titles h2 {
	font-size: 1.25em;
}

#run-single-comment-outer {
	width: 100%;
	text-align: center;
}
#run-single-comment {
	font-style: italic;
	margin-bottom: 1em;
	width: auto;
	padding: 0.5em;
	background-color: var(--background-table-even);
	border-radius: 4px;
	display: inline-block;
}
#run-single-comment:empty {
	margin-bottom: 0;
}
.run-single-info-other > p, #run-single-comment:not(:empty) {
	margin-top: 0.5em;
	text-align: center;
}

.buttons.is-right-mobile > a {
	margin-bottom: 0.75em;
}
#single-run-buttons {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
@media only screen and (max-width: 768px) {
	#single-run-buttons {
		top: 0.5rem;
		right: 0.5rem;
	}
}

@media only screen and (max-width: 768px) {
	.run-single-titles h1 {
		font-size: 1.25em;
	}
	.run-single-titles h2 {
		font-size: 1.15em;
	}
}

/* ---------- Splits ---------- */

#run-single-splits-middleinfo > i {
    padding-top: 8px;
}
#run-single-splits-middleinfo > i:not(:last-child) {
	margin-right: 0.5em;
}

#run-single-splits-bar-outer {
	width: calc(100% + 2.5rem) !important;
	margin-left: -1.25rem;

	margin-bottom: 1.25rem;
	height: 4em;
}
@media only screen and (max-width: 768px) {
	#run-single-splits-bar-outer {
		width: calc(100% + 1.5rem) !important;
		margin-left: -0.75rem !important;
		
		overflow-x: scroll !important;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;

		margin-bottom: 1.25rem;
		height: 4em;
	}
	#run-single-splits-bar {
		width: calc(300% + 1.5rem) !important;
	}
	#run-single-splits-bar-outer::-webkit-scrollbar {
		height: 0px;
	}
}
#run-single-splits-bar > div {
	overflow-x: hidden;
	height: 100%;
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
#run-single-splits-bar > div > i {
	position: absolute;
}
#run-single-splits-bar > div > .fa-square-full {
	transform: rotate(45deg);
	font-size: 24px;
	top: -12px;
	right: -12px;
}
#run-single-splits-bar > div > .fa-star {
	font-size: 8px;
	top: 1px;
	right: 1px;
}
#run-single-splits-bar > div > div {
	cursor: default;
	padding: 0.5em;
	padding-right: 0;
}
.sp-name-num {
	color: rgba(238, 238, 238, 0.8);
	font-weight: normal;
}
.sp-time {
	font-family: Inconsolata;
	color: rgba(238, 238, 238, 0.6);
}
.sp-timesave {
	color: #a3e6a6;
	font-size: 0.9em;
}

.table tbody#run-single-segments td {
	vertical-align: middle;
}

.table tbody#run-single-segments tr {
	cursor: default;
	font-size: 0.95em;
}
.sp-heading {
	font-weight: bold;
	font-size: 1.1rem !important;
}
@media only screen and (max-width: 768px) {
	.sp-heading {
		font-size: 0.925rem !important;
	}
	.table tbody#run-single-segments tr {
		cursor: default;
		font-size: 0.9em;
	}
}

/* ---------- World Records ---------- */

.wr {
	position: relative;
}
.wr:before, .wr:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    transition: all .15s ease;
}

.wr:before {
	top: 0;
	left: 0;
	transform-origin: top left;
	transform: rotate(-45deg) scale(0);
}

.wr:after {
	right: 0;
	bottom: 0;
	transform-origin: bottom right;
	transform: rotate(45deg) scale(0);
}
.wr:hover .wr-link {
	transform: translate(6px, -6px);
}
.wr:hover:before {
	transform: rotate(-45deg) scale(1);
}

.wr:hover:after {
	transform: rotate(45deg) scale(1);
}
/* hover effect: https://codepen.io/Axiol/pen/QWLRMVr */

#world-records {
	margin-top: 0.75em;
}
#world-records > div {
	padding: 0.75rem;
}
#world-records > div:nth-child(-n+3) {
	padding-top: 0;
}
@media only screen and (max-width: 768px) {
	#world-records > div {
		padding: 0.25rem;
	}
}
.wr-link {
	color: var(--text-color) !important;

	display: block;
    transform: translate(0, 0);
    transition: all .15s ease;
    position: relative;
    z-index: 10;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
.wr-link:hover {
	color: var(--text-color);
	text-decoration: none;
}

.wr-wrapper {	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	padding: 0.25em 0.4em;
}
.wr-game, .wr-category, .wr-time, .wr-runner, .wr-date, .wr-link, .wr-img {
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
}
.wr-game {
	font-size: 1.25em;
	font-weight: bold;

	width: 100%;
}
.wr-category {
	top: 1.45em;

	font-size: 1.1em;
	font-weight: bold;
	
	width: 100%;
}

@media only screen and (max-width: 1216px) {
	.wr-game {
		font-size: 1em;
	}
	.wr-category {
		font-size: 0.9em;
	}
	.wr-time, .wr-runner, .wr-date, .wr-link {
		font-size: 0.8em;
	}
}

/* ---------- Game Selector ---------- */

.game-selector {
	position: relative;
}
#game-selector-button {
	font-size: 0.95em;
	letter-spacing: -0.25px;

	border: 1px solid var(--primary-color);
	border-radius: 4px;

	padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: 2.5em;
    padding-top: calc(.5em - 1px);

	position: relative;

	margin-bottom: 1.25em;

	cursor: pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#game-selector-button:hover {
	border-color: var(--primary-color-hover);
}
#game-selector-button:after {
	/*right: 1.125em;
	z-index: 4;

	border: 3px solid var(--primary-color);
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;

	box-sizing: inherit;*/

	color: var(--primary-color);
	font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
   	vertical-align: middle;
	font-weight: 900;
	   
    pointer-events: none;
    position: absolute;
    right: 0.9em;
}
#game-selector-button:hover:after {
	/*border-*/color: var(--primary-color-hover);
}
#game-selector-menu:not(.is-active) {
	display: none;
}
#game-selector-menu {
	position: absolute;
	z-index: 5;
	width: 100%;
	top: calc(2.5em - 1px);

	background-color: var(--background-color);
	border-radius: 0px 0px 4px 4px !important;
	border: 2px solid var(--background-mid-accent-color);
	border-right: 0;
	border-top: 0;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
#pc-games {
	max-width: 100%;
	height: 100%;
	position: relative;
	
	max-height: 315px;
	overflow-y: auto;
}
#pc-games > .game {
	width: 100%;
	padding-left: 1.75em;
	padding-right: 1.4em;
	font-size: 0.95em;
	height: 21px;
	position: relative;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#pc-games > .game > .letter {
	position: absolute;
	top: 2px;
	right: 0.5em;
	
	font-size: 0.8em;
}
#pc-games > .game > .circle {
	position: absolute;
	top: 4.5px;
	left: 0.5em;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
#pc-games > .game:not(.is-selected) > .letter {
	color: var(--text-color-light);
}
#pc-games > .game:hover {
	background-color: var(--button-background-hover-color);
	cursor: pointer;
}
#pc-games > .game.is-selected {
	background-color: var(--primary-color);
	color: var(--text-color-dark);
}
#pc-games > .game.is-selected:hover {
	background-color: var(--primary-color-hover);
}

/* ---------- User ---------- */

.user-runs-container {
	margin-left: 7em;
}
.user-runs-container:not(:last-child)
{
	margin-bottom: 1.5rem;
}
.user-runs-container:last-child
{
	margin-bottom: 0.4rem;
}
.user-runs-image {
	position: relative;
}
.user-runs-image > a > img {
	width: 5em;
	position: absolute;
	top: 0.3em;
	margin-left: -7em;
	border-radius: 4px;
}
.user-runs-heading {
	font-size: 1.2em;
	font-weight: bold;
	
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	margin-left: -1.1em;
}

@media only screen and (max-width: 768px) {
	.user-runs-image {
		display: none;
	}
	.user-runs-container {
		min-height: auto!important;
		margin-left: 0;
	}
	.user-runs-heading {
		margin-left: 0;
	}
}
.user-runs-tbody tr:first-child td:first-child {
	border-top-left-radius: 6px;
}
.user-runs-tbody tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}
@media only screen and (max-width: 768px) {
	.user-runs-tbody tr:first-child td:first-child {
		border-top-left-radius: 0;
	}
	.user-runs-tbody tr:last-child td:first-child {
		border-bottom-left-radius: 0;
	}
}

#user-runs-table {
	margin-top: -0.775em;
}
#user-username {
	font-size: 1.1em;
	margin-bottom: 0.75em;
}
#user-pfp {
	border-radius: 6px;
	margin-bottom: 0.75em;
}
#user-pronouns:not(:empty) {
	font-size: 0.8em;
	margin-bottom: 0.75em;
	color: var(--text-color-light);
}
#user-accounts:not(:empty) {
	margin-bottom: 0.75em;
}
#user-accounts > a:not(:last-child) {
	margin-right: 0.5em;
}
#user-accounts > #user-acc-twitch {
	color: #9146ff;
}
#user-accounts > #user-acc-twitch:hover {
	color: #a265ff;
}
#user-accounts > #user-acc-youtube {
	color: #ee4444;
}
#user-accounts > #user-acc-youtube:hover {
	color: #ff5e5e;
}
#user-accounts > #user-acc-twitter {
	color: #1d9bf0;
}
#user-accounts > #user-acc-twitter:hover {
	color: #3cb1ff;
}
#user-run-count:not(:empty) {
	font-size: 0.8em;
	margin-bottom: 0.75em;
	color: var(--text-color-light);
}
#user-moderator-of:not(:empty) {
	font-size: 0.8em;
	margin-bottom: 0.75em;
	color: var(--text-color-light);
}
#user-moderator-of a {
	display: inline-block;
	font-weight: bold;
}

/* ---------- Error ---------- */

#error-container {
	position: fixed;
	z-index: 15;
	top: 2em;
	right: 2em;
	direction: rtl;
}
#error-container > .notification {
	transition: opacity 0.75s;
	width: fit-content;
	max-width: 50vw;
	direction: ltr;
}
#error-container > .notification.closed {
	opacity: 0;
}
#error-container > .notification.closed:hover {
	transition: opacity 0s;
	opacity: 1;
}

@media only screen and (max-width: 768px) {
	#error-container {
		font-size: 1.25em;
		top: 1em;
		transform: translateX(1em);
	}
	#error-container > .notification {
		max-width: 100%;
	}
}

/* ---------- Cards ---------- */

.box.is-card {
	position: relative;

	background-color: var(--background-card);
	text-align: left;
	padding: 8px;
	padding-left: 56px;
	height: 56px;

	box-shadow: 0px 0px 10px 8px rgba(10, 10, 10, 0.15);
}
.box.is-card > .image {
	position: absolute;
	top: 8px;
	left: 8px;
	height: 40px;
	width: 40px;
}
.box.is-card > .image > img {
	border-radius: 4px;
}
.box.is-card > a.player-link {
	font-size: 1.1em;
}
.box.is-card > a:not(.player-link) {
	font-size: 0.9em;
	font-weight: normal;
}

/* ---------- Navbar ---------- */

.navbar {
	background-color: var(--background-color);
	box-shadow: 0 2px 4px rgb(0 0 0 / 8%)
}
.navbar > div {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) {
	.navbar > div {
		max-width: 960px;
	}
}
@media screen and (min-width: 1216px) {
	.navbar > div {
		max-width: 1152px;
	}
}
@media screen and (min-width: 1408px) {
	.navbar > div {
		max-width: 1344px;
	}
}

/* ---------- Misc ---------- */

#runs-loading, #runs-none {
	padding-bottom: 1.25rem;
}

#box-runs {
	padding-bottom: 0;
}
#runs-table, #runs tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}
#runs-table, #runs tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

#run-single-segments-table, #run-single-segments tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}
#run-single-segments-table, #run-single-segments tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

.notification.is-danger {
	position: relative;
	text-align: center;
}
.notification.is-danger > p:not(:last-child) {
	margin-bottom: 1.25em;
}
@media only screen and (max-width: 768px) {
	.notification.is-danger {
		font-size: 0.8em;
	}
}

.is-tooltip-text {
	border-bottom: 2px dotted var(--text-color-light);
	margin-bottom: -2px;
}

#view-lb {
	font-weight: bold;
	font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
	#view-lb {
		font-size: 1.1rem;
	}
}
#view-lb:hover {
	text-decoration: underline solid 2px;
}

.site-header {
	margin-bottom: 1em;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

@media only screen and (max-width: 768px) {
	.site-header {
		margin-left: 1em;
		margin-right: 1em;
	}
}

.is-box-heading {
	font-size: 1.3em;
	letter-spacing: 2px;
	font-family: 'Bebas Neue';

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
#about-info {
	height: 100%;
}
#about-info-toggle {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
#about-info-toggle:hover {
	text-decoration: none;
}
#about-info-more {
	margin-top: 1em;
}
#about-info > p:not(:last-child), #about-info > div > p:not(:last-child) {
	margin-bottom: 1.25rem;
}

.divider {
	width: calc(100% + 2.5rem);
	margin-left: -1.25rem;
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 2px solid var(--primary-color);
}
.divider.thin {
	padding-bottom: 1em;
	margin-bottom: 1.25em;
}
@media only screen and (max-width: 768px) {
	.divider {
		width: calc(100% + 1.5rem);
		margin-left: -0.75rem;
	}
	.divider.thin {
		padding-bottom: 0.75em;
		margin-bottom: 0.75em;
	}
}

.select, .select > select {
	margin-bottom: 1.25rem;
	width: 100%;
	background-color: var(--background-color);
	border-color: var(--primary-color);
	color: var(--text-color);
}
.select:after {
	border-color: var(--primary-color) !important;
}
.select select:hover, .select select:focus, .select:hover:after, .select:focus:after {
	
	border-color: var(--primary-color-hover) !important;
	box-shadow: none;
}

.title {
	color: #eee;
	font-weight: bold;
	letter-spacing: -1px;
}

.section.is-footer {
	background-color: var(--background-mid-accent-color);
	width: 100%;
	text-align: center;
	color: #eee;
	font-size: 0.85em;
}
.is-footer > p {
	margin-bottom: 1em;
}
.is-heart {
	color: #f14668;
}

.is-footer p {
	color: var(--text-color-light);
	margin-bottom: 0.25em;
}
.is-footer > .columns {
	margin-bottom: 0 !important;
}
.is-footer > .columns > .column {
	padding-bottom: 0;
}
@media only screen and (max-width: 768px) {
	.links {
		display: flex;
		justify-content: center;
	}
	.links > p:not(:last-child)
	{
		margin-right: 1.5em;
	}
}
.links > p > a > i {
	margin-right: 0.25em;
}

#level-select-cols, #level-select-cols > div > .select  {
	margin-bottom: 0;
}

.box {
	background-color: var(--background-color);
	border-radius: 4px;
}

.runs-flag {
	margin-right: 0.25em;
	max-height: 15px;
	vertical-align: middle;
	padding-top: 1px;
	margin-bottom: 3px;
	border-radius: 2px;
}
.runs-flag.small {
	max-height: 12px;
	padding-bottom: 1px;
}
.runs-usericon {
	max-height: 15px;
	vertical-align: middle;
	margin-right: 0.25em;
	margin-bottom: 3px;
}
.runs-usericon.small {
	max-height: 12px;
	padding-top: 1x;
}
.player-link {
	font-weight: bold;
}
.player-link:hover {
	text-decoration: none;
}
.player-link:hover > span {
	text-decoration: underline solid 2px;
}
.player-link.thin:hover > span {
	text-decoration: underline solid 1px;
}

@media only screen and (max-width: 768px) {
	.column {
		padding: 0.75rem 0;
	}
	.box > .container > .columns > .column {
		padding: 0.75rem !important;
	}
    .section {
		padding: 1.5rem 1rem;
	}
	.box {
		padding: 0.75rem;
	}
}

#back-button {
	margin-bottom: 1.25rem;
	font-weight: bold;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
#back-button a:hover {
	text-decoration: none;
	color: var(--primary-color-hover);
}

.place-1st, .new-pb {
	color: var(--place-gold);
}
.place-2nd {
	color: var(--place-silver);
}
.place-3rd {
	color: var(--place-bronze);
}

/* ----------------------------------------- */
/* source: https://tobiasahlin.com/spinkit/  */

.loadingdiv .spinner {
	width: 40px;
	height: 40px;
	background-color: #777;
  
	margin: 100px auto;
	-webkit-animation: sk-rotateplane 0.8s infinite ease-in-out;
	animation: sk-rotateplane 0.8s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	}
	50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

/* added by me */
.loadingdiv .belowspinner {
	color: #777;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	margin-top: -5rem;
}

.loadingdiv {
	display: flex;
	align-items: center;
	padding-bottom: 5rem;
}

/* ---------- ---------- */